apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: grouper-ws
  name: grouper-ws
spec:
  replicas: 1
  selector:
    matchLabels:
      app: grouper-ws
  strategy: {}
  template:
    metadata:
      labels:
        app: grouper-ws
        aadpodidbinding: grouper-pod-identity
    spec:
      initContainers:
        - image: ${ACR_FQDN}/grouper:latest # NOTE: using latest is not best practice
          name: grouper-init
          resources: {}
          imagePullPolicy: IfNotPresent
          securityContext:
            runAsUser: 998
          command:
            [
              "sh",
              "-c",
              "cd /opt/grouper/grouperWebapp/WEB-INF/bin/; ./gsh.sh assignGrouperSystemPassword.gsh",
            ]
          env:
            - name: GROUPER_AUTO_DDL_UPTOVERSION
              value: "v2.5.*"
            - name: GROUPER_LOG_TO_HOST
              value: "true"
            - name: GROUPER_DATABASE_URL
              valueFrom:
                secretKeyRef:
                  name: grouper-secrets
                  key: url
            - name: GROUPER_DATABASE_USERNAME
              valueFrom:
                secretKeyRef:
                  name: grouper-secrets
                  key: username
            - name: GROUPER_DATABASE_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: grouper-secrets
                  key: password
          volumeMounts:
          - name: azurekeyvault
            mountPath: "/mnt/secrets-store"
            readOnly: true
      containers:
        - image: ${ACR_FQDN}/grouper:latest # NOTE: using latest is not best practice
          name: grouper-ws
          ports:
            - containerPort: 8443
          resources: {}
          imagePullPolicy: IfNotPresent
          args: ["ws"]
          env:
            - name: GROUPER_SELF_SIGNED_CERT
              value: "true"
            - name: GROUPER_WS_GROUPER_AUTH
              value: "true"
            - name: GROUPER_DATABASE_URL
              valueFrom:
                secretKeyRef:
                  name: grouper-secrets
                  key: url
            - name: GROUPER_DATABASE_USERNAME
              valueFrom:
                secretKeyRef:
                  name: grouper-secrets
                  key: username
            - name: GROUPER_DATABASE_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: grouper-secrets
                  key: password
          volumeMounts:
          - name: azurekeyvault
            mountPath: "/mnt/secrets-store"
            readOnly: true
      volumes:
        - name: azurekeyvault
          csi:
            driver: secrets-store.csi.k8s.io
            readOnly: true
            volumeAttributes:
              secretProviderClass: grouper-secrets-provider # this is the name of your SecretProviderClass

status: {}
---
apiVersion: v1
kind: Service
metadata:
  labels:
    app: grouper-ws
  name: grouper-ws
spec:
  ports:
    - port: 8443
      protocol: TCP
      targetPort: 8443
      name: grouper-ws
  selector:
    app: grouper-ws